<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="keywords" content="truck, Truck, upholstery, Upholstery, abraham, Abraham, san bernardino, San Bernardino" />
            <meta name="description" content="Abraham Truck Upholstery &copy; specializes in all types of truck seats and does upholstry and
            reparation. " />
            <meta http-equiv="author" content="Joseph Gil" />
            <meta http-equiv="pragma" content="no-cache" />
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=yes" name="viewport">
            <title>
                Abraham Truck Upholstery &copy;
            </title>
        </head>
    </html>